.hero{
	max-width: 1200px;
	height: 800px;
	top:0;
	right:0;
	bottom:0;
	left:0;
	margin: 0 auto;
}
.hero-span{
	display: flex;
	align-items:center;
	justify-content:center;
	flex-flow: column wrap;
	width:100%;
	height: 100%;
}
