.skew-image-big{
	width: 370px;
	height: 190px;
	background: white;
	opacity: 0.7;
	margin:15px;
}
.skew-image-small{
	width: 170px;
	height: 190px;
	background: white;
	opacity: 0.7;
	margin:15px;
}
.skew-image{
	transform: skewY(-11deg);
}
