/* background */
[class^="image"]{
  background-color:  lighten(blue, 20%);
}

/* opacity */
[class^="image"]{
  opacity: 0.7;
}

/* width */
[class^="image"]{
  width:100%;
}
.image-logo{
  max-width: 175px;
}
.image-service{
  max-width: 160px;
}

/* height */
.image-logo{
  height: 90px;
}
.image-service{
  height: 160px;
}

/* margin */
.image-service{
  margin-right: 30px; /* PC */
  margin-bottom: 15px;
}
