.modal-target{
  background: url("http://www.creativefull.com/admin/admin/uploads/ee11cbb19052e40b07aac0ca060c23eeWallpaper.jpg");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}
