$mobile-width:600px;
.hero,
.skew-research,
.skew-left,
.skew-right
{
		height: 100%;
}
.round_icon-area,
.skew-area-text{
	width: 100%;
}
.round_icon-area,
.skew-area-text{
	height: 50%;
	display: flex;
	justify-content: center;
}
/* COMMON */
.hero-container,
.skew-container-research{
	max-width: 2000px;
	height: 800px;
}

.hero,
.skew-research{
	max-width: 1200px;
	margin:0 auto;
}

.skew-left,
.skew-right{
	width:50%;
}
/* SPECIAL */
.hero-container{
	background-color: #1584C1;
}
.skew-container-research{
	background: #DBA224;
}
.skew-left{
	float:left;
	background: red;
}
.skew-right{
	float:right;
}
.round_icon-area{
	align-items: flex-end;
}
.skew-area-text{
	align-items:center;
	justify-content:flex-start;
	flex-flow: column wrap;
	padding: 0 20px;
}
