.title-small{
	font-size: 22px;
	text-transform: uppercase;
}
.title-big{
	font-size: 60px;
	padding-top: 10px;
	padding-bottom: 8px;
}
.title-medium{
	font-size:26px;
	max-width: 750px;
	padding-bottom: 10vh;
}
.skew-title{
	font-size: 37px;
	padding: 30px 0;
}
.skew-text{
	font-size: 24px;
	max-width: 465px;
}
