$skew-break-width:1200px;
$mobile-width:850px;
html,body{
	overflow-x: hidden;
	min-width: 400px;
}
*{
	text-decoration: none;
}
html,
body,
article,
main,
aside,
div,
span,
h,
p
{
	box-sizing: border-box;
	text-decoration: none;
	list-style-type: none;
	border: 0;
	margin: 0;
	padding: 0;
	display: block;
	text-align: center;
}
html,
body{
	overflow-x: auto;
}
.init0{
	top:0;
	right:0;
	bottom:0;
	left:0;
	margin:auto;
	position: absolute;
}
.pages{
max-width: 2000px;
}
