/* variables */
$watch:300px;
$red:#EE3B33;
$blue:#6E9CD2;
$gray:#B4BDD0;
$darkred:#E36A63;
/* general */
*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
html,
body,
.pages,
article{
  top:0;
  right:0;
  bottom:0;
  left:0;
  overflow-x: hidden;
}
article,
span,
h,
p{
  display: block;
}

hr{
    width: 100%;
    margin-top:50px;
    margin-bottom: 20px;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
/* background */
/* width */
/* height */
/* padding */
/* margin */
/* display */
/* justify-content W */
/* align-items H */
